
$font-primary: arial,helvetica,sans-serif;
$font-secondary: Verdana, sans-serif;
// base

$breakpoint-1			: 860px;
$breakpoint-2			: 700px;
$breakpoint-3			: 500px;
$breakpoint-4			: 400px;

$font-x-small			: 10px;
$font-smaller			: 12px;
$font-small				: 14px;
$font-medium			: 16px;
$font-large				: 18px;
$font-larger			: 20px;
$font-x-large			: 24px;

// system global
$system-page-content-background	: #f6f6f6;
$system-background      		: #f6f6f6;
$system-controls-border			: #ffffff;
$system-columns-border			: #ffffff;
$system-border					: #ffffff;

// calendar

$system-calendar-background					: #f6f6f6;
$system-calendar-day-header-background		: #f6f6f6;
$system-calendar-day-header-color			: #7d8891;
$system-calendar-day-wrapper-background		: #f6f6f6;
$system-calendar-day-wrapper-border			: #ffffff;

$system-calendar-weekend-wrapper-background	: #f6f6f6;

$system-calendar_day_other_month-background	: #eeeeee;


$system-calendar-today-background			: #fafafa;
$system-calendar-event-all-day-background	: #fafafa;
$system-calendar-border						: #ffffff;

// address

$system-address-user-background				: #fdfdfd;

// forums

// media

