/*
    Mobile Menu Core Style
*/

.slicknav_btn { font-family: Lato, sans-serif; position: relative; display: block; vertical-align: middle; float: right; padding: 0 0.625em 0 0.625em; line-height: 50px; cursor: pointer; }
.slicknav_menu  .slicknav_menutxt { display: block; line-height: 42px; float: right;}
.slicknav_menu .slicknav_icon { float: right; margin: 12px 0 0 10px; }
.slicknav_menu .slicknav_no-text { margin: 0 }
.slicknav_menu .slicknav_icon-bar { display: block; width: 20px; height: 3px; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; }
.slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar { margin-top: 4px; }
.slicknav_nav { clear: both }
.slicknav_nav ul,
.slicknav_nav li { display: block }
.slicknav_nav .slicknav_arrow { font-size: 0.8em; margin: 0 0 0 0.4em; }
.slicknav_nav .slicknav_item { display: block; cursor: pointer; }
.slicknav_nav a { display: block }
.slicknav_nav .slicknav_item a { display: inline }
.slicknav_menu:before,
.slicknav_menu:after { content: " "; display: table; }
.slicknav_menu:after { clear: both }
/* IE6/7 support */
.slicknav_menu { *zoom: 1 }
/* 
    User Default Style
    Change the following styles to modify the appearance of the menu.
*/

.slicknav_menu {
	font-size:16px;
}
/* Button */
.slicknav_btn {
	width: 100%;
	text-decoration:none;
	line-height: 42px;
    height: 42px;
	background-color: #31a7de;
}
.slicknav_btn span{display: block;float: none;}
/* Button Text */
.slicknav_menu  .slicknav_menutxt {	
	color: #FFF;
	font-size: 16px;	
}
/* Button Lines */
.slicknav_menu .slicknav_icon-bar {
  background-color: #FFF;
}
.slicknav_menu {}
.slicknav_nav {
	color:#414141;
	margin:0;	
	padding:0;
	font-size:15px;
}
.slicknav_nav{border-bottom: 1px solid #d1d1d1;background: #dddddd;}
.slicknav_nav, .slicknav_nav ul {
	list-style: none;
	overflow:hidden;
}
.slicknav_nav ul {
	padding:0;
	margin:0;
  	background: #E9E9E9;
}
.slicknav_nav li{
	border-top: 1px solid #d1d1d1;
}
.slicknav_nav .slicknav_item {
	padding: 0px 25px;
	height: 42px;
	line-height: 42px;
}
.slicknav_nav a{
	text-decoration:none;
	color:#414141;
	text-transform: uppercase;
}
.slicknav_nav li > a {
  	padding: 0px 25px;
	height: 42px;
	line-height: 42px;
}
.slicknav_nav ul li > a{
	font-size: 13px;
	padding: 0px 25px;
	height: 32px;
	line-height: 32px;
}
.slicknav_nav ul li li > a {
    font-size: 13px;
    padding: 0px 40px;
}
.slicknav_nav ul li.has_sub_menu > a{padding: 0px 25px 0px 25px; background-color: #DDD;}
.slicknav_nav .slicknav_item a {
	padding:0;
	margin:0;
}
.slicknav_nav .slicknav_txtnode {
     margin-left:15px;   
}

.slicknav_nav .slicknav_collapsed > a .slicknav_arrow{font-size: 0;background: url(../images/tab-arrows.png) no-repeat;
float: right;width: 15px;height: 12px;margin-top: 15px; background-size: 15px 24px; background-repeat: no-repeat;}

.slicknav_nav .slicknav_open > a .slicknav_arrow{font-size: 0;background: url(../images/tab-arrows.png) no-repeat;
float: right;width: 15px;height: 12px;margin-top: 15px; background-size: 15px 24px; background-repeat: no-repeat; background-position: 0 -12px;}

.slicknav_nav li:hover > a{color: #31a7de;}
.slicknav_nav > li:hover > a, .slicknav_nav > li.slicknav_open > a{color: #fff;background: #31a7de;}
.slicknav_nav > li:hover > a > a, .slicknav_nav > li.slicknav_open > a > a{color: #fff;}

/* Custom Links
.log_out_nav {
	padding: 0 25px;
	display: block;
	width: 100%;
	height: 42px;
}

.log_out_nav a:hover {
	color: #31a7de;
}

.logout_link, .weboffice_link {
	display: inline;
	float: left;
	padding: 0 25px 0 0;
	margin: 0 5px 0 0;
	height: 42px;
	line-height: 42px;
	font-size: 12px;
}*/